* {
  box-sizing: border-box; /* css reset */
  padding: 0; /* css reset */
  margin: 0; /* css reset */
  --bg: #E8AA42;
  --border: 2px solid grey;
}

html {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #025464;
}

body {
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #25474e;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav {
  background: #E57C23;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav li {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.border {
  border: var(--border);
}

.header {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 4rem;
}

.duck-container {
  background: var(--bg);
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  margin: 1rem 0;
}

.duck-left {
  display: flex;
  flex-direction: column;
}

.duck-text {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  /* font-weight: bold;
  font-style: italic;
  text-decoration: underline; */
}

.button-duck {
  width: 5rem;
  margin: 20px;
  padding: 6px;
  border: none;
}

.duck-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.duck-right img {
  width: 5rem;
  max-width: 100%;
}

.emergency-container {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem 10rem;
}

.grid-item-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 1rem;
  margin: 3rem 3rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  background: white;
  --border: 1px solid grey;
}

.contact-container {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
}

.submit {
  margin: 0 4rem;
  margin-bottom: 1rem;
}
