* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --bg: lightgrey;
  --border: 1px solid grey;
}

html body {
  /* width: 100vw; */
  height: 100%;
  margin: 2rem;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background: white;
  display: flex;
  justify-content: space-between;
}

nav ul {
  border: var(--border);
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav li {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

header {
  background: var(--bg);
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.duck {
  background: var(--bg);
  display: flex;
  justify-content: space-around;
}

#duck .text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#duck .button {
  margin: 8px;
  padding: 6px;
}

#duck .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#duck img {
  width: 5rem;
}

#emergency {
  background: var(--bg);
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
}

#contact {
  background: var(--bg);
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
}
